{% extends 'generic/base.html' %}

{% block hero %}
    <div class="d-flex">
        <div class="p-2">
            <h1>{{ project.name }}</h1>
        </div>
        <div class="mt-auto ms-auto p-2">
            <p>
                <a href="/"> Home </a> > <a> {{ project.name }} </a>
            </p>
        </div>
    </div>

{% endblock %}

{% block content %}
    <table>

    </table>

    <table id="notes" class="table">
        <thead>
            <th style="width: 25%">
                Name
            </th>
            <th>
                Text
            </th>
        </thead>
        <tbody>

            {% for note in notes %}
                <tr id="{{ note.name }}" data-bs-toggle="modal" data-bs-target="#show_note" onclick="showNote(this)">
                    <td>
                        {{ note.name }}
                    </td>
                    <td>
                        {{ note.text }}
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

    <button type="button" class="btn btnSec" data-bs-toggle="modal" data-bs-target="#create_note">
      Create Note
    </button>

    <!-- Modal -->
    <div class="modal fade" id="create_note" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        {% include 'Project/create_note.html' %}
    </div>

    <div class="modal fade" id="show_note" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        {% include 'Project/show_note.html' %}
    </div>

{% endblock %}

{% block javascript %}
    {% load static %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{% static 'js/create_note.js' %}"></script>
    <script src="{% static 'js/show_note.js' %}"></script>
{% endblock %}
