<div class="modal-dialog">
    <div class="modal-content modal_bg">
        <div class="modal-header">
            <h5 class="modal-title" id="NoteNameShow"></h5>
            <i id="edit" class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#edit_note" style="margin-left: 5px"></i>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <p class="" id="NoteText">

            </p>
        </div>
    </div>
</div>