<div class="modal-dialog">
    <div class="modal-content modal_bg">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Task</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="create_task_form">
            <div class="modal-body">

                <p>
                    HEY
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btnDan" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>